<div class="container-fuid container00 container01">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <p class="h5" id="launchComing">LANÇAMENTO A CAMINHO</p>
    <P class="h1">MISSÃO EQUIPE-3</P>
    <button type="button" class="btn btn-outline-light mt-5" id="button">SAIBA MAIS</button>
    <div class="container text-center">
        <img src="../../assets/home/arrowDown.gif" alt="arrowDown" class="arrowDown">
    </div>
</div>
    </div>
</div>
<div class="container-fuid container00 container02">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <p class="h5" id="launchComing">MISSÃO CONCLUÍDA</p>
    <P class="h1">MISSÃO EQUIPE-2 RETORNOU PARA A TERRA</P>
    <button type="button" class="btn btn-outline-light mt-5" id="button">SAIBA MAIS</button>
</div>
    </div>
</div>
<div class="container-fuid container00 container03">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <p class="h5" id="launchComing">MISSÃO CONCLUÍDA</p>
    <P class="h1">DRAGON RETORNOU PARA A TERRA</P>
    <button type="button" class="btn btn-outline-light mt-5" id="button">SAIBA MAIS</button>
</div>
    </div>
</div>
<div class="container-fuid container00 container04">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <P class="h1 mediumTitle">STARSHIP POUSA ASTRONAUTAS DA NASA NA LUA</P>
    <button type="button" class="btn btn-outline-light mt-5" id="button">SAIBA MAIS</button>
</div>
    </div>
</div>
