<div class="container-fuid container00 container01">
    <app-head/>
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <P class="h1">FALCON 9</P>
    <p class="h5" id="launchComing">PRIMEIRA CLASSE DE FOGUETES DE ORBITA CAPAZ DE VOLTAR </p>
    </div>
</div>
</div>
<div class="container-fuid container00 container02">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
        <P class="h1">126</P>
        <p class="h5" id="launchComing">LANÇAMENTOS TOTAIS</p>
        <P class="h1">86</P>
        <p class="h5" id="launchComing">DESEMBARQUES TOTAIS</p>
        <P class="h1">68</P>
        <p class="h5" id="launchComing">FOGUETES RECUPERADOS</p>
</div>
    </div>
</div>
<div class="container-fuid container00 container03">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <p class="h5" id="launchComing">O Falcon 9 é um foguete reutilizável de dois estágios, projetado e fabricado
        pela SpaceX para o transporte de pessoas e cargas úteis para a órbita da Terra e além. Falcon 9 é o  primeiro 
        foguete reutilizável de classe orbital do mundo. A capacidade de reutilização permite que SapceX refile as partes
        mais caras do foguete, oque, por sua vez, reduz o custo do acesso ao espaço.</p>
</div>
    </div>
</div>
<div class="container-fuid container00 container04">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <p class="h5">FALCON 9</p>
    <p class="h1">PRIMEIRO ESTÁGIO</p>
    <p class="h5">Falcon 9's O primeiro estágio do Falcon 9 incorpora nove motores 
        Merlin e tanques de liga de alumínio-lítico contendo oxegênio líquido
        e propelente de querosene de grau de foguete(RP-1)
    </p>
    <p class="h5">O Falcon 9 gera mais de 1,7 milhão de libras de empuxo ao nível do  mar.</p>
</div>
    </div>
</div>
<div class="container-fuid container00 container05">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <p class="h5">FALCON 9</p>
    <p class="h1">MERLIN</p>
    <p class="h5">Merlin é uma família de motores de foguetes desenvolvido pela SpaceX para 
        uso em seus veículos de lançamentoFalcon , FAlcon 9 e Falcon Heavy. Os motores Merlin 
        usam querosene de grau de foguete (RP-1) e oxigênio líquido como propelente de foguete
        em um ciclo de energia de gerador a gás. O motor Merlin foi originalmente projetado 
        para recuperação e reutilização.</p>
    <p class="h3">PROPULSSOR</p>
    <p class="h3">LOX/RP-1</p>
    <p class="h3">IMPULSO</p>
    <p class="h3">845 KN/190.000 lbf</p>

    <p class="h5">O Falcon 9 gera mais de 1,7 milhão de libras de empuxo ao nível do  mar.</p>
</div>
    </div>
</div>
<div class="container-fuid container00 container04">
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <p class="h5">FALCON 9</p>
    <p class="h1">PRIMEIRO ESTÁGIO</p>
    <p class="h5">Falcon 9's O primeiro estágio do Falcon 9 incorpora nove motores 
        Merlin e tanques de liga de alumínio-lítico contendo oxegênio líquido
        e propelente de querosene de grau de foguete(RP-1)
    </p>
    <p class="h5">O Falcon 9 gera mais de 1,7 milhão de libras de empuxo ao nível do  mar.</p>
</div>
    </div>
</div>
