.container00{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    .titlePadding{
        color: #7676ca;
        text-align: center;
    }
    .h1{
        font-weight: 900;
        font-size: 15vh;
    }
    .h5{
        font-weight: 200;
        font-size: 4vh;
    }
    
    .numbers {
        font-size: 5vh;
        display: flex;
        justify-content: space-between;    
    }
     .h5text{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4vh;

     }
     .text{
        font-weight: 300;
     }
    .container00{
        &.container01{
            background-image: url(../../assets/falcon9/01.jpg);
        }
        &.container02{
            background-image: url(../../assets/falcon9/02.jpg);
        }
        &.container03{
            background-image: url(../../assets/falcon9/03.jpg);
        }
        &.container04{
            background-image: url(../../assets/falcon9/04.jpg);
        }
        &.container05{
            background-image: url(../../assets/falcon9/05.jpg);
        }

    }
    .titlePadding{
        padding-top: 200px;
        color: rgb(127, 182, 255);
    }
    
    .shortTitle{
        width: 550px;
        margin-bottom: -25px;
    }
    .mediumTitle{
        width: 650px;
        margin-bottom: -25px;
    }
    
    