.container00{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    .numbers{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .titlePadding{
        color: #7676ca;
        text-align: center;
    }
    .h1{
        font-weight: 900;
        font-size: 15vh;
    }
    .h5{
        font-weight: 200;
        font-size: 4vh;
    }
    
     .text{
        font-weight: 300;
     }
    .container00{
        &.container01{
            background-image: url(../../assets/falcon9/01.jpg);
        }
        &.container02{
            background-image: url(../../assets/falcon9/02.jpg);
        }
        &.carousel01{
            background-image: url(../../assets/falcon9/03.jpg);
        }
        &.carousel02{
            background-image: url(../../assets/falcon9/04.jpg);
        }
        &.carousel03{
            background-image: url(../../assets/falcon9/05.jpg);
        }
        &.carousel04{
            background-image: url(../../assets/falcon9/06.jpg);
        }
        &.carousel05{
            background-image: url(../../assets/falcon9/07.jpg);
        }
        &.container03{
            background-image: url(../../assets/falcon9/08.jpg);
        }

    }
    .titlePadding{
        padding-top: 200px;
        color: rgb(127, 182, 255);
    }
    
    .shortTitle{
        width: 550px;
        margin-bottom: -25px;
    }
    .mediumTitle{
        width: 650px;
        margin-bottom: -25px;
    }
    
    .downdoloadDesc{
        background-color: black;
        height: 85vh;
        padding-top: 240px;
        a{
            text-decoration: none;
            color: #7676ca;
            &:hover{
                color: aqua;
            }
        }
        button{
            border: 2px solid white;
            margin-right: 10px;
        }
    }