<div class="container-fuid container00 container01">
    <app-head/>
    <div class="container">
<div class="container titlePadding" data-aos="fade-up" data-aos-duration="1500">
    <P class="h1">FALCON 9</P>
    <p class="falconH5" id="launchComing">PRIMEIRA CLASSE DE FOGUETES DE ORBITA CAPAZ DE VOLTAR </p>
    </div>
</div>
</div>
<div class="container-fuid numbers">
<div class="row text-center">
        <div class="col-sm col1">   
    <h1 class="h1number" data-aos="fade-up" data-aos-duration="1500">126</h1>
    <p class="h5text" data-aos="fade-up" data-aos-duration="1500">LANÇAMENTOS TOTAIS</p>
</div>
    <div class="col-sm col2">
        <h1 class="h1number" data-aos="fade-left" data-aos-duration="1500">86</h1>
        <p class="h5text" data-aos="fade-left" data-aos-duration="1500">DESEMBARQUES TOTAIS</p>
    </div>
    <div class="col-sm col3">
        <h1 class="h1number" data-aos="fade-right" data-aos-duration="1500">68</h1>
        <p class="h5text" data-aos="fade-right" data-aos-duration="1500">FOGUETES RECUPERADOS</p>
    </div>    
    </div>
</div>
<div class="container-fuid container00 container02">
        <div class="text">
            <p class="h5" id="launchComing" data-aos="fade-right" data-aos-duration="1500">O Falcon 9 é um foguete reutilizável de dois estágios, projetado e fabricado
                pela SpaceX para o transporte de pessoas e cargas úteis para a órbita da Terra e além. Falcon 9 é o  primeiro 
                foguete reutilizável de classe orbital do mundo. A capacidade de reutilização permite que SapceX refile as partes
                mais caras do foguete, oque, por sua vez, reduz o custo do acesso ao espaço.</p>
        </div>
    </div>

<div id="carouselExempleInternal" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
<div class="carousel-item active container00 carousel01" data-bs-interval="300000">
 <div class="container" id="overViewPosition">
    <p class="h5">FALCON 9</p>
    <h3 class="h1">VISÃO GERAL</h3>
    <table class="table" id="widthTable">
        <tbody>
            <tr data-aos="fade-right" data-aos-duration="1500">
                <td>ALTURA</td>
                <td class="text-end">70 m<span class="corEscuraTxt"> / 229.6 f</span></td>
            </tr>
            <tr data-aos="fade-right" data-aos-duration="1500">
                <td>DIAMETRO</td>
                <td class="text-end">3.7 m<span class="corEscuraTxt"> / 12 fT</span></td>
            </tr>
            <tr data-aos="fade-right" data-aos-duration="1500">
                <td>MASSA</td>
                <td class="text-end">549.054 kg<span class="corEscuraTxt"> / 1,207,920   lb</span></td>
            </tr>
            <tr data-aos="fade-right" data-aos-duration="1500">
                <td>CARGA MÁXIMA PARA LEO</td>
                <td class="text-end">22,800 kg<span class="corEscuraTxt"> / 18,300 lb</span></td>
            </tr>
            <tr data-aos="fade-right" data-aos-duration="1500">
                <td>CARGA MÁXIMA PARA GTO</td>
                <td class="text-end">8,300 kg<span class="corEscuraTxt"> / 18,300 lb</span></td>
            </tr>
            <tr data-aos="fade-right" data-aos-duration="1500">
                <td>CARGA MÁXIMA PARA MARTE</td>
                <td class="text-end">4,020 kg<span class="corEscuraTxt"> / 8,860 lb</span></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>
</div>
<div class="carousel-item container00 carousel02" data-bs-interval="3000000">
    <div class="container" id="overViewPosition">
            <p class="subTitleOvewView">FALCON 9</p>
            <h3 class="titleOverView">PRIMEIRO ESTÁGIO</h3>
            <p>
                Falcon 9's o primeiro estágio do Falcon 9 incorpora nove motores Merlin
                e tanques de liga alumínio-lítico contendo oxigênio líquido e propelente
                de grau de foguete (RP-1).
            </p>
            <p>
                O Falcon 9 gera mais de 1,7 milhão de libras de empuxo ao nível do mar.
            </p>
        </div>
    </div>
        <div class="carousel-item container00 carousel03" data-bs-interval="3000000">
            <div class="container" id="overViewPosition">
                <p class="subTitleOvewView">FALCON 9</p>
                <h3 class="titleOverView">SEGUNDO ESTÁGIO</h3>
                <p>
                    O segundo estágio, alimentado por um único motor a vácuo Merlin entrega a
                    carga útil do Falcon 9 à orbita desejada. O motor do segundo estágio acende alguns segundos 
                    após a separaçãl do estágio e pode ser reiniciado várias vezes para colocar várias cargas em diferentes 
                    órbitas.
                </p>
                <table class="table" id="widhtTable">
                    <tbody>
                        <tr>
                            <td>NÚMERO DE MOTORES</td>
                            <td class="text-end"> vacuum</td>
                        </tr>
                        <tr>
                            <td>TEMPO DE QUEIMA</td>
                            <td class="text-end">397seg</td>
                        </tr>
                        <tr>
                            <td>IMPULSO</td>
                            <td class="text-end">981 kN <span>/ 220.500 lbf</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="carousel-item container00 carrosel04" data-bs-interval="2000000">
    <div class="container" id="overViewPosition">
        <p class="subTitleOverView">Falcon 9</p>
        <h3 class="titleOverView">INTERESTADUAL</h3>
        <p>
            A interestadual é uma estrutura composta que conecta o primeiro e o segundo estágios e abriga os empurradores 
            pneumáticos que permitem que o primeiro e o segundo estágio se separem durante o vôo.
        </p>
        <p style="font-size: 18px;">ALERTAS DE GRADE</p>
        <p>
            O Falcon 9 está equipado com 4 alertas de grade hipersônicas posicionadas na base da interestadual. Elels orientam o
            foguete durante a reentrada, movendo o centro de pressão.
        </p>
    </div>
</div>
<div class="carousel-item container00 carousel05" data-bs-interval="3000000">
    <div class="container" id="overViewPosition"> 
        <p class="subTitleOvewView">FALCON 9</p>
        <h3 class="titleOverView">CARGA ÚTIL</h3>
        <p>
            Feita de um material composto de carbono, a caranegem protege os satélites em seu caminho para a órbita.
            A carrnagem é lançada a aproximadamente 3 minutos em vôo, e a SpaceX continua arecuperar as carenagens 
            para reutilização em missões futuras. 
        </p>
        <table class="table" id="widthTable">
            <tbody>
                <tr>
                    <td class="text-end">13,1m <span>/43 ft</span></td>
                </tr>
                <tr>
                    <td>DIÂMETRO</td>
                    <td class="text-end">5,2m <span>/17,1 ft</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid container00 container03">
    <div class="container" id="overViewPosition" data-aos="fade-right" data-aos-duration="1400">
        <p class="subTitleOvewView">FALCON 9</p>
        <h3 class="titleOverView">MERLIN</h3>
        <p>
            Merlin é uma família de motores de foguete desenvolvidas pela SpaceX para uso em seus veículos de lançamento Falcon 
            1, Falcon 9 e Falcon Heavy. Os motores Merlin usam querosene de grau de foguete (RP-1) e oxigênio líquido como propolentes 
            de foguete em um  ciclo de energia de gerador a gás. O motor Merlin foi originalmente projetado para recuperação e reutilização.
        </p>
        <table class="table" id="widthTable">
            <tbody>
                <tr>
                    <td>PROPULSSOR</td>
                    <td class="text-end">LOX <span>/RP-1</span></td>
                </tr>
                <tr>
                    <td>IMPULSO</td>
                    <td class="text-end">845 kN <span>/ 190.000 lbf</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="carouselExampleCaptions" class="carousel slide carrouselSlide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" 
        class="active" aria-current="true" aria-label="Slade 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" 
        class="active" aria-current="true" aria-label="Slade 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" 
        class="active" aria-current="true" aria-label="Slade 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" 
        class="active" aria-current="true" aria-label="Slade 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" 
        class="active" aria-current="true" aria-label="Slade 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" 
        class="active" aria-current="true" aria-label="Slade 6"></button>
    </div>
    <div class="carrousel-inner">
        <div class="carousel-item active" data-bs-interval="1000000">
            <img src="./../../assets/falcon9/09.jpg" alt="..." class="d-block w-100">
            <div class="carousel-caption d-md-block">
                <p class="carouselText">
                    O Falcon 9 lança o Dragon para a Estação Espacial Internacional do Complexo de lançamento 39A
                </p>
            </div>
        </div>
        <div class="carousel-item active" data-bs-interval="1000000">
            <img src="./../../assets/falcon9/10.jpg" alt="..." class="d-block w-100">
            <div class="carousel-caption d-md-block">
                <p class="carouselText">
                    Primeiro e segundo estágio após a separação de vôo</p>
            </div>
        </div>
        <div class="carousel-item active" data-bs-interval="1000000">
            <img src="./../../assets/falcon9/11.jpg" alt="..." class="d-block w-100">
            <div class="carousel-caption d-md-block">
                <p class="carouselText">Falcon 9 decola com carga útil Iridium-5</p>
            </div>
        </div>
        <div class="carousel-item active" data-bs-interval="1000000">
            <img src="./../../assets/falcon9/12.jpg" alt="..." class="d-block w-100">
            <div class="carousel-caption d-md-block">
                <p class="carouselText">Falcon 9 posando no droneship para ler as intruções</p>
            </div>
        </div>
        <div class="carousel-item active" data-bs-interval="1000000">
            <img src="./../../assets/falcon9/13.jpg" alt="..." class="d-block w-100">
            <div class="carousel-caption d-md-block">
                <p class="carouselText">Clone dos motores Merlin do Falcon 9 durante a decolagem</p>
            </div>
        </div>
        <div class="carousel-item active" data-bs-interval="1000000">
            <img src="./../../assets/falcon9/14.jpg" alt="..." class="d-block w-100">
            <div class="carousel-caption d-md-block">
                <p class="carouselText">
                    O Falcon 9 deixa um rastro de luz ao decolar da Base Aérea de Vandenberg</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid text-center downloadDesc">
    <p data-aos="fade-right" data-aos-duration="1200"> <span>Para maiores informações e serviços entre em contato com</span> 
        <a href="">Adriano</a></p>
        <button type="button" class="btn btn-outline-light p-3" data-aos="flip-left" data-aos-duration="1000">BAIXAR MANUAL DO USUÁRIO</button>
        <button type="button" class="btn btn-outline-light p-3" data-aos="flip-up" data-aos-duration="1000">CAPACIDADES E SERVIÇOS</button>
</div>